<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Dashboard</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Cerificate validation</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Dashboard</a></li>
        <!-- <li><a href="my-page">Secret Page</a></li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="logout">Log Out</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="container">
      <div class="card w-50">
  <div class="card-block">
    <h3 class="card-title">Birth Certificate</h3>
    <p class="card-text">Enter the detials of Birth Cetificate</p>
    <a href="register-birth" class="btn btn-primary">Register</a>
  </div>
</div>

<div class="card w-50">
  <div class="card-block">
    <h3 class="card-title">Adhaar</h3>
    <p class="card-text">Enter the Adhaar card details.</p>
    <a href="register-aadhar" class="btn btn-primary">Register</a>

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </div>
</div>

    </div>
  </div>
</body>

</html>
